body{
	background-color: #F3F3AA;
}

div{
	background-color: #d1f8bd;
}

#idRespuesta{
	background-color: #d1bdd3;
}

.marge{
	padding: 10px;
	border-color: #335787;
}

.yeah0{
	background-color: #d15d98;
}

.yeah1{
	background-color: #db6bbb;
}